mat-card {
    margin: 25px;
    min-height: 350px;
}

mat-card-title {
    padding-bottom: 10px;
}

figure {
    width: 321px;
    float: left;
    margin-left: 0;
    border: 2px solid #01579B;
    background-color: #01579B;
}

figcaption {
    font-style: italic;
    background-color: #01579B;
    padding-left: 5px;
}

markdown {
    font-size: 15px;
}