main {
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    padding: 5px;
    margin-bottom: 0px;
}

h4 {
    padding: 2px;
}

.disclaimer {
    font-style: italic;
}

mat-table {
    width: 100%;
    font-size: 50px;
}

mat-header-cell {
    font-size: 17px;
}

mat-cell {
    font-size: 17px;
}

img {
    border: 1px solid #304FFE;
    border-radius:25px;
}