<main>
  <section id="header">
    <h1>{{ pageTitle }}</h1>
    <h4 class="disclaimer"><sup>*</sup> {{ titleDisclaimer }}</h4>
  </section>
  <section id="planet-list">
    <article>
      <!-- Define material table and data source for the planetary information -->
      <mat-table [dataSource]="planetInfo" class="mat-elevation-z8 planet-table">
        <!-- Image Column -->
        <ng-container matColumnDef="imageUrl">
          <mat-header-cell *matHeaderCellDef> Planet Image </mat-header-cell>
          <mat-cell *matCellDef="let planet">
            <img [src]="planet.imageUrl"
                  [style.width.px]="imageWidth"
                  [style.margin.px]="imageMargin"/>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let planet"><a [routerLink]="['/planets', planet.name]"> {{planet.name}} </a></mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let planet"> {{planet.type}} </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
          <mat-cell *matCellDef="let planet"> {{planet.category}} </mat-cell>
        </ng-container>

        <!-- Distance Column -->
        <ng-container matColumnDef="distance">
          <mat-header-cell *matHeaderCellDef> Distance from Sun </mat-header-cell>
          <mat-cell *matCellDef="let planet"> {{planet.distance }} </mat-cell>
        </ng-container>

        <!-- Disclaimer Footer -->
        <ng-container matColumnDef="disclaimer">
          <mat-footer-cell *matFooterCellDef colspan="2">
            <span><sup>*</sup> a few images are false color or artist rendition.</span>
          </mat-footer-cell>
        </ng-container>

        <!-- Fetch data from component -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['disclaimer']" class="disclaimer"></mat-footer-row >
      </mat-table>
    </article>
  </section>
  
</main>