/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav {
    width: 250px;
}

.footer {
    height: 25px;
    width: 100vw;
    bottom: 0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.md_planet_details table, tr, td {
    border: solid 1px;
    border-collapse: collapse;
    padding: 5px 100px 5px 5px;
}

.md_planet_details th {
    padding: 5px;
    text-align: left;
    background-color: #01579B;
}
