/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav {
    width: 250px;
}

mat-card {
    margin: 25px;
}

.footer {
    height: 25px;
    width: 100vw;
    bottom: 0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
